{% extends 'layout.html' %}

{# Html class namespace #}
{% block classNameSpace %}admin{% endblock %}

{# Sidebar #}
{% block sidebarTitle %}
Navigation
{% endblock %}

{% block sidebarContent %}
<ul class="nav nav-pills nav-stacked">
  <li {% block nav_admin_projects_class %}{% endblock %}><a href="{{ url('/admin/projects') }}">Projects</a></li>
  <li {% block nav_admin_receivers_class %}{% endblock %}><a href="{{ url('/admin/receivers') }}">Receivers</a></li>
  <li {% block nav_admin_config_class %}{% endblock %}><a href="{{ url('/admin/config') }}">Configuration</a></li>
</ul>
{% endblock %}
