{% extends 'admin/layout.html' %}

{# Html class namespace #}
{% block classNameSpace %}
{{ super() }}
project
{% endblock %}

{% block nav_admin_projects_class %}
class="active"
{% endblock %}

{# Main #}
{% block mainTitle %}
Project
{% endblock %}
{% block mainContent %}
<!-- Project Create -->
<div class="project-create">
  <form class="form-inline">
    <legend>Create</legend>
    <div class="form-group">
      <input name="name" type="text" class="form-control" placeholder="Project name">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div><!-- /.container-project-create -->
<!-- Project List -->
<div class="project-list">
  <legend>List</legend>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  {% raw %}
  <script id="template-project-node" type="text/nunjucks">
    <tr>
      <td>{{ project.id }}</td>
      <td><a href="{{ url('/', {project: project.name}) }}">
      {{ project.name }}</a></td>
      <td><a class="btn btn-default btn-sm" href="{{ url('/admin/project/' + project.id) }}">Edit</a></td>
    </tr>
  </script>
  {% endraw %}
</div><!-- /.container-project-list -->
{% endblock %}
<!-- Scripts -->
{# Js entry onload #}
{% block onload %}app.controllers.project.init(){% endblock %}
