{% block projectEdit %}
<!-- Project Edit -->
<div class="project-edit">
  <!-- Project edit modal -->
  <div class="modal fade" id="modal-project-edit" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h3 class="modal-title">Edit project</h3>
        </div><!-- /.modal-header -->
        <div class="modal-body">
          <div class="error"></div>
          <!-- Project Name -->
          <div class="project-edit-section">
            <form class="form-inline project-name">
              <legend><h4>Project Name</h4></legend>
              <div class="form-group">
                <input name="name" type="text" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
              FIXME (Edit Name)
            </form><!-- /.edit-project-name -->
          </div>
          <!-- Project Rules -->
          <div class="project-edit-section">
            <legend><h4>Project Rules</h4></legend>
            FIXME (list rules)
          </div>
          <!-- Project Receivers -->
          <div class="project-edit-section">
            <legend><h4>Project Receivers</h4></legend>
            FIXME (list receivers)
          </div>
          <!-- Project Delete -->
          <div class="project-edit-section">
            <legend><h4>Delete</h4></legend>
            <button type="button" class="btn btn-danger project-delete">Delete</button>
            <p class="help-block">warning: this will delete this project, all its rules and receivers.</p>
          </div>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal-->
</div><!-- /.container-project-edit -->
{% endblock %}
