{% extends 'admin/layout.html' %}

{# Html class namespace #}
{% block classNameSpace %}
{{ super() }}
project
{% endblock %}

{% block nav_admin_projects_class %}
class="active"
{% endblock %}

{# Main #}
{% block mainTitle %}
Project
{% endblock %}
{% block mainContent %}
{# Project create #}
{% block projectCreate %}
{% include 'admin/project_create.html' %}
{% endblock%}
{# Project list #}
{% block projectList %}
{% include 'admin/project_list.html' %}
{% endblock%}
{# Project edit #}
{% block projectEdit %}
{% include 'admin/project_edit.html' %}
{% endblock%}
{% endblock %}
<!-- Scripts -->
{# Js entry onload #}
{% block onload %}app.controllers.project.init(){% endblock %}
