{% extends 'admin/layout.html' %}

{# Html class namespace #}
{% block classNameSpace %}
{{ super() }}
receiver
{% endblock %}

{% block nav_admin_receiver_class %}
class="active"
{% endblock %}

{# Main #}
{% block mainTitle %}
Receiver
{% endblock %}

{% block mainContent %}
<!-- Receiver Create -->
<div class="receiver-create">
  <form class="form-horizontal col-md-6">
    <legend>Create</legend>
    <div class="error"></div>
    <div class="form-group">
      <label class="col-md-2">Name</label>
      <div class="col-md-10">
        <input name="name" type="text" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Email</label>
      <div class="col-md-10">
        <input name="email" type="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Phone</label>
      <div class="col-md-10">
        <input name="phone" type="phone" class="form-control" placeholder="Phone">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
          <label>
            <input name="enableEmail" type="checkbox" checked="checked"> Enable email
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input name="enablePhone" type="checkbox" checked="checked"> Enable phone
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input name="universal" type="checkbox"> Universal
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
</div>
<!-- Receiver List -->
<div class="receiver-list">
  <table class="table table-hover">
    <legend>Receivers</legend>
    <div class="error"></div>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Universal</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  {% raw %}
  <script id="template-receiver-node" type="text/nunjucks">
    <tr data-id="{{ receiver.id }}" style="display: none;">
      <td><h5><a href="{{ url('/admin/receiver/' + receiver.id) }}">{{ receiver.name }}</a></h5></td>
      <td>
        {% if receiver.enableEmail %}
        {{ receiver.email }}
        {% else %}
        <s>{{ receiver.email }}</s>
        {% endif %}
      </td>
      <td>
        {% if receiver.enablePhone %}
        {{ receiver.phone }}
        {% else %}
        <s>{{ receiver.phone }}</s>
        {% endif %}
      </td>
      <td>
        {% if receiver.universal %}Yes{% else %}No{% endif %}
      </td>
      <td>
        <a href="{{ url('/admin/receiver/' + receiver.id) }}" class="btn btn-primary btn-xs">Edit</a>
      </td>
    </tr>
  </script>
  {% endraw %}
</div>
{% endblock %}

<!-- Scripts -->
{# Js entry onload #}
{% block onload %}app.controllers.receiver.init(){% endblock %}
