{% extends 'admin/layout.html' %}

{# Html class namespace #}
{% block classNameSpace %}
{{ super() }}
receiver
{% endblock %}

{% block nav_admin_receiver_class %}
class="active"
{% endblock %}

{# Main #}
{% block mainTitle %}
Receiver
{% endblock %}

{% block mainContent %}
<!-- Receiver Create -->
<div class="receiver-create">
  <form class="form-horizontal col-md-6">
    <legend>Create</legend>
    <div class="form-group">
      <label class="col-md-2">Name</label>
      <div class="col-md-10">
        <input name="name" type="text" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Email</label>
      <div class="col-md-10">
        <input name="email" type="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Phone</label>
      <div class="col-md-10">
        <input name="phone" type="phone" class="form-control" placeholder="Phone">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
          <label>
            <input name="universal" type="checkbox"> Universal
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>
</div>
<!-- Receiver List -->
<div class="receiver-list">
  <ul class="list-group">
    <legend>Receivers</legend>
  </ul>
  {% raw %}
  <script id="template-receiver-node" type="text/nunjucks">
    <li class="list-group-item" data-id="{{ receiver.id }}" style="display: none;">
      <a href="{{ url('/admin/receiver/' + receiver.id) }}">
        <kbd>{{ receiver.name }}</kbd>
      </a>
      {% if receiver.universal %}
      <span class="label label-success">universal</span>
      {% endif %}
      <a href="{{ url('/admin/receiver/' + receiver.id) }}" class="btn btn-primary btn-xs pull-right">Edit</a>
      <code class="pull-right">
        {{ receiver.email }}, {{ receiver.phone }}
      </code>
    </li>
  </script>
  {% endraw %}
</div>
{% endblock %}

<!-- Scripts -->
{# Js entry onload #}
{% block onload %}app.controllers.receiver.init(){% endblock %}
