<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bell - Metrics Monitor</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url('/public/img/bell.png') }}">
    <!-- Include styles -->
    <link href="{{ url('/public/css/all.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="layout {% block classNameSpace %} {% endblock%}" onload="{% block onload %}{% endblock %}">
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url('/') }}"> Bell - Metrics Monitor </a>
        </div>
        <div class="collapse navbar-collapse">
          {% block navbarCollapse %}
          {% endblock %}
          <ul class="nav navbar-nav navbar-right">
            {% block navbarRight %}
            {% endblock %}
            <li><a href="{{ package.repository.url }}">bell.js@v{{ package.version }}</a></li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Container -->
    <div class="container-fluid container">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-2 sidebar">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                {% block sidebarTitle %}
                {% endblock %}
              </h3>
            </div>
            <div class="panel-body">
              {% block sidebarContent %}
              {% endblock %}
            </div>
          </div>
        </div><!-- /.sidebar -->
        <!-- Main -->
        <div class="col-sm-10 main">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                {% block mainTitle %}
                {% endblock %}
              </h3>
            </div>
            <div class="panel-body">
              {% block mainContent %}
              {% endblock %}
            </div>
          </div>
        </div><!-- /.main -->
      </div>
    </div><!-- /.container -->
    <script>
      {% if config.webapp.root %}
      window._root = "{{ config.webapp.root }}";
      {% endif %}
      {% block script %}
      {% endblock %}
    </script>
    <!-- Include scripts -->
    <script src="{{ url('/public/js/all.min.js') }}"></script>
  </body>
</html>
