/**
 * Edit project
 */

.admin.project-edit .project-edit-section {
  padding-bottom: 20px;
}

.admin.project-edit .section-project-name .form-inline input {
  width: 300px;
}

.admin.project-edit .section-project-rules .rule-add {
  width: 50%;
}

.admin.project-edit .section-project-rules .rule-add .input-group {
  margin-bottom: 5px;
}

.admin.project-edit .section-project-rules .rule-list .list-group-item {
  list-style: decimal inside;
  display: list-item;
  padding-left: 10px;
  padding-right: 10px;
}

.admin.project-edit .section-project-rules .rule-list code {
  margin-right: 10px;
}

.admin.project-edit .section-project-receivers .form-inline input[name*=name] {
  width: 200px;
}

.admin.project-edit .section-project-receivers .receiver-list .list-group-item {
  list-style: decimal inside;
  display: list-item;
  padding-left: 10px;
  padding-right: 10px;
}
