/**
 * Admin project
 */
.admin.project .project-create {
  margin-bottom: 20px;
}

.admin.project .project-list .list-group-item {
  list-style: decimal inside;
  display: list-item;
}

.admin.project .project-list .list-group-item .btn {
  margin-right: 10px;
}
