/**
 * Admin receiver
 */
.admin.receiver .receiver-list .list-group-item {
  list-style: decimal inside;
  display: list-item;
}

.admin.receiver .receiver-list .list-group-item code,
.admin.receiver .receiver-list .list-group-item .btn,
.admin.receiver .receiver-list .list-group-item a
{
  margin-right: 10px;
}
