{% extends 'admin/layout.html' %}

{% block title %}
Bell - Admin Dashboards
{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="{{ url('static/css/admin/dashboards.css') }}" type="text/css" />
{% endblock %}

{% block mainTitle %}
Dashboards
{% endblock %}

{% block nav_admin_dashboards_class %}class="active"{% endblock %}

{% block adminMainContent %}
<!-- Create dashboard -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#createDashboard">Create Dashboard</button>
<div class="modal fade in" id="createDashboard" tabindex="-1" role="dialog" aria-labelledby="createDashboardLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createDashboardLabel">Create dashboard</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="{{ url('/admin/dashboards') }}" method="post">
          <fieldset>
            <div class="form-group">
              <label for="inputName" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="textAreaPatterns" class="col-lg-2 control-label">Patterns</label>
              <div class="col-lg-10">
                <textarea name="patterns" class="form-control" rows="7" id="textAreaPatterns"></textarea>
                <span class="help-block">Metric name patterns, one line for one pattern, e.g. timer.mean_90.*</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- List dashboards -->
<ul class="list-group dashboards-list">
  {% for dashboard in dashboards %}
  <li class="list-group-item">
    <a href="{{ url('/', {dashboard: dashboard.id}) }}">{{ dashboard.name }}</a>
    <a href="#" class="pull-right dashboard-action">Delete</a>
    <a href="#" class="pull-right dashboard-action">Edit</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
